<div class="row">
    <div class="col-sm-12">
        <form class="server-form" method="post">
            <div class="form-group">
                <label for="string_one">Text</label>
                <input type="text" class="form-control" id="string_one" name="string_one" placeholder="Text" value="{{string_one}}">
            </div>

            <div class="form-group">
                <label for="string_two">Insert string</label>
                <input type="text" class="form-control" id="string_two" name="string_two" placeholder="Insert string" value="{{string_two}}">
            </div>

            <div class="form-group">
                <label for="time">Insert times</label>
                <input type="text" class="form-control"  id="time" name="time" placeholder="Insert times" value="{{time}}">
            </div>

            <div class="form-group">
                <label for="interval">Interval</label>
                <input type="text" class="form-control" id="interval" name="interval" placeholder="interval" value="{{interval}}">
            </div>

            {{#if error}}
                <div class="form-group">
                    <div class="alert alert-danger">{{error}}</div>
                </div>
            {{/if}}

            <div class="form-group">
                <button type="submit" class="btn btn-default">submit</button>
            </div>

            {{#if output}}
                <div class="form-group">
                    <div class="alert alert-success">{{output}}</div>
                </div>
            {{/if}}

        </form>
    </div>
</div>